{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title%}
  Login
{% endblock %}

{% block content %}
  <div class="container" style="width:500px;">
    <form role="form"
      action="{% url 'Usuarios_login' %}"
      method="post">
      <br/>
      <h5>Iniciar sesión </h5>
      <div class="form-group alingn-items-center">
      {% csrf_token %}
      {{ form|crispy }}

      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </div>
    </form>
  </div>

{% endblock %}
