{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Bienvenido
{% endblock %}

{% block content %}
<br/>
  <div class="card w-50" >
    <img class="card-img-top" src="{% static '/media/boya.jpg' %}" alt="Medición de Oleaje" height="350">
     <div class="card-body">
       <h5 class="card-title">Medición de Oleaje en Caldera</h5>
       <p class="card-text">Descripción general e informativa</p>
       {% if user.is_authenticated %}
       <p class="card-text">  <a href="/Boya/register">  Consultar datos recolectados </a></p>
       {% endif %}
     </div>

  </div>

{% endblock %}
